.main {
  flex: 1;
}

.inline-promo {
  max-width: var(--container-max);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0 32px;
}

@media (max-width: 768px) {
  .inline-promo {
    padding: 0 16px;
  }
}
