.posts-layout {
    display: flex;

    margin: 55px 0px;
    width: 100%;

    border-top: 1px solid var(--color-border);
    align-items: start;
}


.posts__content {
    flex: 1;
    margin: 24px 16px;

}

.posts__content > div {
    display: grid;
    padding-bottom: 24px;
    margin-bottom: 24px;

    align-content: start;

    border-bottom: 1px solid var(--color-border);

    gap: 16px;
}

.posts-pagination {
    list-style: none;
    padding: 0;
    margin: 0;

    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 12px;
}

.posts-pagination__item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.posts-pagination__link:hover {
    color: white;
    background-color: black;
}

.posts-pagination__link {
    width: 36px;
    height: 36px;

    text-align: center;
    align-content: center;

    border-radius: 999px;
}

.posts-pagination__link[data-active=true] {
    color: white;
    background-color: black;
}

.posts-pagination__ellipsis {
    width: 36px;
    height: 36px;

    text-align: center;
    align-content: center;

    cursor: default;
    user-select: none;
}