.post-sidebar {
    min-width: 266px;
}

.post-sidebar__menu {
    margin: 16px;
    padding: 0;
}

.post-sidebar li {
    list-style: none;
}

/* 상위 카테고리 버튼 */
.post-sidebar__category {
    width: 100%;
    height: 44px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 8px;

    font-size: var(--font-size-base);
    color: var(--color-text-muted);

    border: none;
    background: transparent;
    cursor: pointer;
}


.post-sidebar__category span:first-child {
    display: flex;
    align-items: center;
}

.post-sidebar__category-icon {
    margin-right: 12px;
}

/* 서브카테고리 리스트 */
.post-sidebar__submenu {
    margin: 4px 0 8px;
    padding: 0;

    overflow: hidden;
    transition: max-height 0.4s ease, opacity 0.2s ease;
}

/* 서브카테고리 버튼 */
.post-sidebar__subcategory {
    width: 100%;
    min-height: 36px;

    display: flex;
    align-items: center;

    padding: 0 8px 0 42px;

    font-size: var(--font-size-base);
    color: var(--color-text-muted);

    border: none;
    background: transparent;
    text-align: left;
    cursor: pointer;
}

.post-sidebar__category[data-active=true],
.post-sidebar__subcategory[data-active=true] {
    font-weight: var(--font-weight-bold);
    color: black;
}

.post-sidebar__category-toggle {
    border: none;
    background: transparent;
    cursor: pointer;
}


/* 열릴 때: 충분히 큰 값으로 */
.post-sidebar__submenu.is-open {
    max-height: 500px; /* 서브카테고리 최대 높이보다 크게 */
    opacity: 1;
}

/* 닫힐 때: 0으로 줄임 */
.post-sidebar__submenu.is-closed {
    max-height: 0;
    opacity: 0;
}
