
.posts-layout {
    display: flex;

    margin: 55px 0px;
    width: 100%;

    border-top: 4px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);

    border-top: 1px solid black;
    border-bottom: 1px solid black;
}


